$primaryBg:#fff;
$primaryText:#fff;

$darkBg:#050505;
$darkText:#fff;

$headerHeight: 60px;
$bgColor: pink;
$firstColor: hsl(2, 100%, 61%);
$firstColorAlt: hsl(2, 89%, 53%);
$titleColor: hsl(233, 20%, 15%);
$textColor: hsl(233, 4%, 35%);
$bodyColor: hsl(2, 100%, 97%);
$biggestFontSize: 2.25rem;
$normalFontSize: .938rem;
